@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f7f5f2;
  color: #171412;
}